<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoMate"
        tools:targetApi="31">
        <activity
            android:name=".eg"
            android:exported="false" />
        <activity
            android:name=".rectangle"
            android:exported="false" />
        <activity
            android:name=".cylinder"
            android:exported="false" />
        <activity
            android:name=".cone"
            android:exported="false" />
        <activity
            android:name=".pyramid"
            android:exported="false" />
        <activity
            android:name=".rectangle_prism"
            android:exported="false" />
        <activity
            android:name=".sphere"
            android:exported="false" />
        <activity
            android:name=".cube"
            android:exported="false" />
        <activity
            android:name=".right_triangle"
            android:exported="false" />
        <activity
            android:name=".triangle"
            android:exported="false" />
        <activity
            android:name=".trapezoid"
            android:exported="false" />
        <activity
            android:name=".parallelogram"
            android:exported="false" />
        <activity
            android:name=".rhombus"
            android:exported="false" />
        <activity
            android:name=".square"
            android:exported="false" />
        <activity
            android:name=".circle"
            android:exported="false"
            android:label="back"
            android:parentActivityName=".home" />
        <activity
            android:name=".home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>